extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
    .row
      input(
        type='searchbox'
      )
    .row
      h3 Events for you in Republic of Korea
      
    .row
      .col-md-6
        h3 서비스 목적
        p EventBrite와 유사 페이지 작성 
      .col-md-6
        h3 주요 기능
        ul
          li 이벤트 등록/삭제/변경
          li 댓글 등록/삭제
          li 사용자 로그인
          li API

  .row
    .col-sm-4
        image(src='/images/bg1.jpg')
        h3 Event1
    .col-sm-4
        image(src='/images/bg2.jpg')
        h3 Event2    
    .col-sm-4
        image(src='/images/bg3.jpg')
        h3 Event3
  
  .row
    .col-md-4
        image(src='/images/bg4.jpg')
        h3 Event4
    .col-md-4
        image(src='/images/bg5.jpg')
        h3 Event5    
    .col-md-4
        image(src='/images/bg6.jpg')
        h3 Event6

  .row
    .col-md-4
        image(src='/images/bg7.jpg')
        h3 Event7
    .col-md-4
        image(src='/images/bg8.jpg')
        h3 Event8    
    .col-md-4
        image(src='/images/bg9.jpg')
        h3 Event9